#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.label {
  width: 100%;
  background-color: #ccc;
  color:black;
  font-weight: bold;;
  display:block;
  padding:5px;
}
.label2 {
  width: 100%;
  background-color: #f4f;
  color:white;
  font-weight: bold;;
  display:block;
  padding:5px;
}
.label3 {
  width: 100%;
  background-color: green;
  color:white;
  font-weight: bold;;
  display:block;
  padding:5px;
}
input {
  font-size:28px;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
}
ol { width: fit-content; margin: 0 auto;}