:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*{box-sizing:border-box;}

form{
  padding: 10px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
  border-radius: 5px;
}

form input, form textarea, select{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none;
  border-radius: 5px; 
}
form textarea{
  min-height:200px;
}

input.enviar {
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all .3s;
}
input.enviar:hover{
	background-color: #046193;
}
textarea {  resize: none; }

.info_Usuario { 
  padding: 10px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
  border-radius: 5p
}
ol{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px;
}
li{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
li span{
  font-size:1em;
  font-weight: bold;
  text-align:left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
